.gradle/
**/build/
!src/**/build/
.idea/
.settings/
*.project
*.class
*.jar
!gradle-wrapper.jar
*.war
*.zip
*.tar
*.swp
*.iml
*.log
gradle-app.setting
.gradletasknamecache
.classpath
.settings
/bin/
/out/
